.tableTitle {
    font-size: .8rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.flavorsNewProduct {
    border-collapse: collapse;
    width: 100%;
}

.flavorsNewProduct th, td {
    font-size: .8rem;
    color: var(--gray);
}

.flavorsNewProduct #flavorsNewProductHeader{
    background-color: var(--semi-white);
    height: 50px;
}

#flavorsNewProductHeader th {
    font-weight: normal;

    text-align: left;
    padding-left: 15px;
    width: 100px;
}

#flavorsNewProductHeader th:first-child {
    width: 250px;
    border-right: 2px solid var(--white-gray);
}

.flavorsNewProduct td {
    border-top: 2px solid var(--white-gray);
    border-bottom: 2px solid var(--white-gray);

    padding: 15px;
}

.flavorsNewProduct td:first-child {
    border-right: 2px solid var(--white-gray);
}

.flavorsNewProduct tr:nth-child(even) {
    background-color: var(--semi-white);
}

.addNewFlavorButton {
    width: 24px;
    height: 24px;

    margin-top: 15px;
    margin-left: 15px;

    cursor: pointer;
}

.flavorsNewProduct .inputPrice {
    display: flex;
    align-items: center;
}

.flavorsNewProduct .inputPrice span {
    margin-right: 10px;
    font-size: .8rem;
    color: var(--gray);
}

.flavorsNewProduct input {
    border: none;
    background-color: transparent;
}

.flavorsNewProduct input:focus {
    outline: none;
    border-bottom: 1px solid var(--gray);
}