.inputTypeProductContainer {
    display: flex;
    justify-content: flex-start;

    width: auto;

    margin-top: 15px;
}

.inputTypeProductContainer label {
    margin-right: 35px;
}

.inputProductContainer {
    display: flex;
    justify-content: space-between;

    width: 100%;
}