.modal-dialog {
    max-width: 80%;
}

.modal-content {
    background-color: var(--main-input);
}

.modal-header {
    border-bottom: 1px solid #242625;
}

.modal-header .btn-close {
    margin: -.5rem -.5rem -.5rem -.5rem;
}

.modal-header > :nth-child(1) {
    order: 2;
}

.modal-header > :nth-child(2) {
    order: 1;
}

#inputNameAndPriceProductDiv {
    display: flex;
    justify-content: space-between;
}

#inputNameAndPriceProductDiv .productInput {
    width: 48%;
}

#typeProductDiv {
    display: flex;
}

#typeProductDiv .productInput {
    margin: 10px 15px 0 0;
}

.newFlavorOption {
    margin: 10px 0;
    position: relative;
}

.productFlavor {
    width: 100%;
    display: inline-block;
}

.newFlavorOption .btn-close {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

#newProductButton {
    background-color: #7ABFB8;
    border: 1px solid #5a8c87;
    color: #212529;
}

#createProduct {
    background-color: #57a8ff;
    border: 1px solid #3f7bbb;
    color: #212529;
}

#newFlavor {
    background-color: #57a8ff;
    border: 1px solid #3f7bbb;
    color: #212529;
    margin-bottom: 15px;
}

#showProductDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#showProductDiv .card {
    min-width: 200px;
    border: 1px solid #5a8c87;
    margin: 5px;
}

#showProductDiv .card .card-header {
    background-color: #7ABFB8;
    text-transform: capitalize;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#showProductDiv .editProductButton {
    fill: #21252900;
    margin-left: 15px;
    transition: fill .5s ease-in-out;
}

#showProductDiv .card:hover .editProductButton {
    fill: #212529;
    transition: fill .5s ease-in-out;
}

#showProductDiv .card-header:hover .editProductButton:hover {
    fill: #fff;
}

#showProductDiv .card .list-group-flavor-header {
    border: none;
    font-weight: 700;
    padding: .5rem 1rem 0 .5rem;
}

#showProductDiv .card .list-group-flavor{
    padding: .1rem 1rem .1rem 1.5rem;
    border: none;
    text-transform: capitalize;
}

.editProductDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #da8b8b;
    border: 2px solid #9e6363;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.editProductDiv h5 {
    font-weight: 900;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #9e6363;
}

.editProductButtons button {
    margin-left: 15px;
}

.editProductButtons {
    display: flex;
    justify-content: flex-end;
}

#saveEditProduct {
    background-color: #7ABFB8;
    border: 1px solid #5a8c87;
    color: #212529;
}

.newProductDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.newProductDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #da8b8b;
    border: 2px solid #9e6363;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.newProductDiv h5 {
    font-weight: 900;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #9e6363;
}

.buttonsProducts {
    display: flex;
    justify-content: flex-end;
}
.buttonsProducts button {
    margin-left: 15px;
}