#newOrderContainer {
    width: 100%;
    padding: 35px;
    background-color: var(--white);
    border-radius: 5px;
}

#newOrderContainer h4 {
    font-size: 1.5rem;
}

#newOrderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newOrderButtonsContainer {
    display: flex;
    align-items: center;
}

#sideBySideContainer {
    display: flex;
}
