#inlineContainer {
    display: flex;
}

#sendDetails {
    width: 400px;
    margin-top: 15px;
}

#inlineInput {
    display: flex;
    justify-content: space-between;
}

#inlineInput .inputText {
    width: 45%;
}

#inlineInput input {
    width: 100%;
}