.orderInputDate {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    margin-top: 15px;
    width: 40%;
}

.orderInputDate input[type="date"] {
    margin-top: 10px;
    background-color: var(--semi-white);
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: .8rem;
    color: var(--gray);
}
