.inputRadioLabel {
    position: relative;
    padding-right: 20px;

    font-size: .8rem;

    cursor: pointer;
}

.inputTypeProduct {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.inputRadioStyle {
    position: absolute;
    transform: translatey(-50%);
    top: 50%;
    right: 0;

    height: 15px;
    width: 15px;

    border: 2px solid var(--white-gray);
    border-radius: 50%;
    background-color: var(--semi-white);

    transition: .5s ease-in-out;
}

.inputRadioLabel:hover .inputRadioStyle {
    border: 2px solid var(--black);
    background-color: var(--white-gray);
}

.inputRadioLabel input:checked ~ .inputRadioStyle {
    background: none;
    border: 2px solid var(--black);
}

.inputRadioStyle:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.inputRadioLabel input:checked ~ .inputRadioStyle:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.inputRadioLabel .inputRadioStyle:after {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--black);
}