.inputText select {
    margin-top: 10px;
    background-color: var(--semi-white);
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 400px;
    font-size: .8rem;
    color: var(--gray);
}