@import '../../App.scss';

#products-modal{
  width: 40%;
}

.new-order-products-modal{ 
  .products-modal-container {
    height: 100%;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10%;
      padding: 0 25px;
      border-bottom: 1px solid $gray;

      svg {
        fill: $gray;
      }

      button {
        background-color: transparent;
        border: none;
      }
    }

    .table-content-container{
      height: calc(81% - 50px);
      margin: 25px;
      overflow-y: scroll;

      table{
        border-collapse: collapse;
        width: 100%;
      }

      thead{
        tr{
          th{
            padding: 10px;
            text-align: center;
          }

          th:nth-child(2) {
            text-align: left;
          }

          th:nth-child(3) {
            text-align: left;
          }
        }
      }
    }

    .button-container{
      display: flex;
      justify-content: flex-end;
      margin-right: 25px;
      height: calc(9% - 25px);
    }
  }
}