@import '../../App.scss';
.order-detail-container {
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 0 25px;
    border-bottom: 1px solid $gray;
  
    h2{
      font-size: 15px;
      font-weight: $font-bold;
    }
  
    svg{
      fill: $black;
    }
  
    button{
      background-color: transparent;
      border: none;
    }
  }

  .order-id{
    display: flex;
    align-items: center;
    height: 5%;
    padding: 0 25px;

    p{
      font-weight: $font-semi-bold;
      color: $gray;
    }

    span{
      font-weight: $font-semi-bold;
      color: $blue;
    }
  }

  .order-detail-content{
    height: calc(85% - 25px);
    margin: 25px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
  }

  .products-table{
    height: fit-content;
    width: calc(75% - 15px);
    margin: 0;
  }

  .delivery-details{
    height: fit-content;
    margin: 0;
    width: 25%;
  }

}
