@import '../../App.scss';

.order-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px;
  border-bottom: 1px solid $gray;

  h2{
    font-size: 15px;
    font-weight: $font-bold;
  }

  svg{
    fill: $black;
  }

  button{
    background-color: transparent;
    border: none;
  }
}