#newOrderContainer {
    width: 100%;
    padding: 35px;
    background-color: #fff;
    border-radius: 5px;
}

#newOrderContainer h4 {
    font-size: 1.5rem;
}

#newOrderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newOrderButtonsContainer {
    display: flex;
    align-items: center;
}

.orderInputContainer {
    display: flex;
    justify-content: space-between;
}

#inlineContainer {
    display: flex;
}

#sendDetails {
    width: 400px;
    margin-top: 15px;
}

#inlineInput {
    display: flex;
    justify-content: space-between;
}

#inlineInput .inputText {
    width: 45%;
}

#inlineInput input {
    width: 100%;
}