#sideBarMenu {
    background-color: var(--white);
    width: 12%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid var(--white-gray);
}

#logoArea {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--white-gray);
}

#logoArea img {
    border-radius: 50%;
    width: 82px;
    margin: 15px;
}

#logoArea h1 {
    font-size: 18px;
    padding: 15px;
    padding-top: 0;
}

#mainMenu {
    border-bottom: 1px solid var(--white-gray);
}