.inputText {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    margin-top: 15px;
}

.inputText input[type="text"] {
    margin-top: 10px;
    background-color: #F5F4F4;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 400px;
    font-size: .8rem;
    color: #737B7D;
}

.inputText input::placeholder {
    font-size: .8rem;
}