@import '../../App.scss';

.order-detail-products-table{
  border-collapse: collapse;
  width: 100%;
  
  thead {
    background-color: $secondary-white;

    th{
      padding: 15px 10px;
      text-align: left;
    }

    th:nth-child(1) {
      text-align: center;
    }
    
    th:nth-child(5) {
      text-align: center;
    }
  }

  tbody{
    tr{
      border-bottom: 1px solid $secondary-white;

      td{
        padding: 5px 10px;
      }

      td:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      td:nth-child(5) {
        text-align: center;
      }
    }
  }

  tfoot{
    td{
      padding: 5px 10px;
    }
    
    td:nth-child(1){
      text-align: right;
    }
    
    td:nth-child(2){
      font-size: 14px;
      color: $gray;
      text-align: center;
    }
  }
}