@import '../../App.scss';

.search-bar{
  position: relative;
  display: flex;
  align-items: center;

  input{
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    padding-left: 35px;
    outline:none;
    
  }

  span{
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 10px;
  }

  .white{
    color: $white;
    border-color: $white;
    fill: $white;
  }
  
  .white::placeholder{
    color: $white;
  }

  .gray{
    color: $gray;
    border-color: $gray;
    fill: $gray;
  }
  
  .gray::placeholder{
    color: $gray;
  }
}
