@import '../../App.scss';

.search-bar{
  position: relative;
  display: flex;
  align-items: center;

  input{
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 35px;
    outline:none;
  }

  svg{
    position: absolute;
    margin-left: 10px;
    fill: $white;
  }
}
