@import '../../App.scss';

.header-component{
  position: fixed;
  top: 0;
  width: 100%;

  .header-top-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 7% 15px 7%;
    background-color: $black;
  }

  .header-bottom-side{
    display: flex;
    justify-content: flex-start;
    padding: 15px 7% 15px 7%;
    background-color: $white;
    border-bottom: 1px solid $secondary-white;
  }

  .button-group{
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
}