@import '../../App.scss';

.delivery-info{
  .infos{
    margin-top: 10px;

    p{
      display: flex;
      flex-direction: column;
      span{
        margin-left: 10px;
        color: $gray;
      }
    }

    .inline-info{
      display: flex;
      justify-content: space-between;
      
      .inline-content:nth-child(1){
        width: 50%;
      }

      .inline-content:nth-child(2){
        width: 35%;
      }
    }
    
    .icon-color{
      color: $gray;
  
      svg{
        fill: $gray;
      }
    }
  }

  .infos > * {
    margin-top: 15px;
  }
}